// Colors
$dark-bg: #282c34;
$medium-bg: #353a44;
$light-bg: #d8dbdb;
$text-light: #ecf0ff;
$accent-blue: rgb(103, 167, 209);
$link-blue: #396ed6;
$tech-red: rgb(143, 21, 21);

// Breakpoints
$bp-desktop-nav: 1026px;
$bp-timeline: 1169px;
$bp-tablet: 768px;
$bp-mobile-lg: 450px;
$bp-mobile-md: 410px;
$bp-mobile-sm: 375px;
