@use 'variables' as *;

#about {
  display: flex;
  flex-flow: column nowrap;
  background-color: $medium-bg;
  width: 100%;
  height: auto;
  padding-bottom: 6.25rem;
  align-items: center;
  position: relative;
}
.aboutContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}
.textContainer {
  width: 60%;
}
.headshotContainer {
  width: 30vw;
  height: 30vw;
  max-width: 18.75rem;
  max-height: 18.75rem;
  border: 3px solid #f3f5ff;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 0;
}
.headshot {
  object-fit: contain;
  height: 100%;
}
.textContainer h3 {
  font-size: 2rem;
  margin: 0;
}
.textContainer h4 {
  margin: 0 0 1.875rem;
}
.downloadResume {
  margin-top: 2.5rem;
  width: 6.875rem;
  height: 2.5rem;
  border-radius: 4px;
  background-color: $accent-blue;
  border: 1px solid rgb(196, 217, 255);
  color: white;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.1875rem;
}

@media screen and (max-width: $bp-tablet) {
  .aboutContainer {
    flex-flow: column nowrap;
  }
  .headshotContainer {
    order: 1;
  }
  .textContainer {
    order: 2;
    width: 80%;
  }
}
