@use 'variables' as *;

#connect {
  display: flex;
  flex-flow: column nowrap;
  background-color: $dark-bg;
  width: 100%;
  height: auto;
  align-items: center;
  padding-bottom: 1.25rem;
}
.connectForm {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 31.25rem;
}
.connectForm input {
  margin-bottom: 0.625rem;
}
.connectForm label {
  margin-bottom: 0.625rem;
}
.connectForm textarea {
  width: 100%;
  min-height: 5rem;
}
.nameEmail {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}
.email, .name, .message {
  width: 45%;
  display: flex;
  flex-flow: column nowrap;
}
.message {
  width: 100%;
}
.submit {
  width: 100%;
  display: flex;
  justify-content: center;
}
.submitBtn {
  margin: 0.9375rem;
  width: 7.5rem;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
.messageNotification {
  height: 1.875rem;
  margin: 0;
  padding: 0;
}
