@use 'variables' as *;

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.375rem;
  position: relative;
  background-color: $medium-bg;
  border-top: 3px double rgba(255, 255, 255, 0.26);
}
.signature {
  color: white;
  width: 6.25rem;
  text-align: center;
  margin-right: 1.25rem;
}
