@use 'variables' as *;

#landing {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: $dark-bg;
  min-height: 37.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
#landing h2 {
  margin: 0;
}
h1 {
  font-size: 4rem;
}
.landingBarMobile {
  position: absolute;
  top: 0.5625rem;
  right: 0.5625rem;
  display: none;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}
.landingEmail {
  padding: 0.375rem 0.8125rem 0.625rem;
}

@media screen and (max-width: $bp-desktop-nav) {
  .landingBarMobile {
    display: flex;
  }
}

@media screen and (max-width: $bp-mobile-lg) {
  h1 {
    font-size: 3rem;
  }
}
