@use 'variables' as *;

.navMobileContainer {
  width: 9.375rem;
  height: 18.4375rem;
  display: none;
  flex-flow: column nowrap;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 9999;
  transition: left 0.4s ease-in-out, background-color 0.5s;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.bar1, .bar2, .bar3 {
  width: 2rem;
  height: 3px;
  background-color: $text-secondary;
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 2px;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 5px);
}
.change .bar2 { opacity: 0; }
.change .bar3 {
  transform: rotate(45deg) translate(-7px, -5px);
}

.container {
  display: inline-block;
  cursor: pointer;
  padding: 0.75rem;
  background: none;
  border: none;
  color: inherit;
}

.menuMobile {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
  position: absolute;
  top: 2.8125rem;
  left: 0;
  transition: left 0.4s ease-in-out;
}

.menuItem {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2.75rem;
  margin: 0;
  padding-left: 1rem;
  color: $text-secondary;
  transition: color $transition-fast;

  &:hover {
    color: $text-primary;
  }
}

.hidden {
  left: -9.375rem;
}

.navMobileLinksContainer {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.navMobileLinksContainer a {
  width: 100%;
  height: auto;
  text-align: left;
  margin: none;
}

.navMobileLinksContainer a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

@media screen and (max-width: $bp-desktop-nav) {
  .navMobileContainer {
    display: flex;
  }
}
