@use 'variables' as *;

.navMobileContainer {
  width: 9.375rem;
  height: 18.4375rem;
  display: none;
  flex-flow: column nowrap;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 9999;
  transition: left 0.4s ease-in-out, background-color 0.7s;
}
.bar1, .bar2, .bar3 {
  width: 3.125rem;
  height: 0.3125rem;
  background-color: #D7DFFF;
  margin: 0.375rem 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 { opacity: 0; }
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.container {
  display: inline-block;
  cursor: pointer;
  padding: 0.625rem 0 0 0.625rem;
  background: none;
  border: none;
  color: inherit;
}
.menuMobile {
  width: 100%;
  height: auto;
  margin-top: 0.625rem;
  position: absolute;
  top: 2.8125rem;
  left: 0;
  transition: left .4s ease-in-out;
}
.menuItem {
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 0;
  padding-left: 1.25rem;
}
.hidden {
  left: -9.375rem;
}
.navMobileLinksContainer {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.navMobileLinksContainer a {
  width: 100%;
  height: auto;
  text-align: left;
  margin: none;
}
.navMobileLinksContainer a :hover {
  background-color: rgba(255, 255, 255, 0.151);
}

@media screen and (max-width: $bp-desktop-nav) {
  .navMobileContainer {
    display: flex;
  }
}
