@use 'styles/globals';
@use 'styles/Landing';
@use 'styles/NavMobile';
@use 'styles/NavDesktop';
@use 'styles/Projects';
@use 'styles/Experience';
@use 'styles/About';
@use 'styles/Connect';
@use 'styles/Footer';
